@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button{
  display: flex;
  align-items: center;
  padding: 20px 36px;
  background-color: #4070f4;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  user-select: none;
}

.button .icon{
  font-size: 28px;
  color: #fff;
  margin-right: 10px;
  display: none;
}

.button.checked .icon{
  display: flex;
}

.icon.spinner.spin{
  animation: spin 1.3s ease-in-out infinite;
}
@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}

.icon.check{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #6e93f7;
}

.button .btn-text{
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}